@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* start * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
/* root*/
:root {
    --blue: #000;
    --blackAll: #000;
    --wiite: #fff;
    --grey: #5f5f5f;
    --black1: #222;
    --black2: #999;
    --red: #2f00;
    --hack: #8de02c;
    --red: #c471ed;
    --lite: #12c2e9;
    --auze: #7f7fd5;
    --aqua2: linear-gradient(to right, #c7c7c7, #ffffff);
    --gray2: #bdc3c7ad;
    --hover-grey2: linear-gradient(to right, #2c3e50, #ffffff);
    --hover-tr: #a8ff78;
    --grandedt: linear-gradient(to right, #abbaab, #ffffff);
}
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s linear;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.2s linear;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--wiite);
}
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--wiite);
}
.navigation ul li:hover a {
    color: var(--blue);
}
.navigation ul li a .icons {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icons i {
    font-size: 1.75em;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* curse out */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--wiite);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;

    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--wiite);
    pointer-events: none;
}
/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--grandedt);
    transition: 0.5s;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle {
    position: relative;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    font-size: 18px;
    border: 1px solid var(--black2);
}
.search label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}
.user {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* cardBox */
.cardBox {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.cardBox .card {
    position: relative;
    background: var(--gray2);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.6);
    transition: 0.2s linear;
}
.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}
.cardBox .card .cardNome {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}
.cardBox .card .iconBox {
    font-size: 3rem;
    color: var(--black2);
}
.cardBox .card:hover {
    background: var(--hover-grey2);
    transform: translateY(-5px);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardNome,
.cardBox .card:hover .iconBox {
    color: var(--wiite);
}
/* graphBx */
.graphBx {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    min-height: 200px;
    float: left;
}
.graphBx .box {
    position: relative;
    background: var(--wiite);
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.6);
    background: var(--aqua2);
    float: left;
    transition: 0.5s;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}
.graphBx .box-all {
    position: absolute;
    background: var(--wiite);
    padding: 20px;
    width: 50%;
    box-shadow: 0 7px 25px rgb(0 0 0 / 60%);
    background: var(--aqua2);
    left: 100%;
    top: 6%;
    height: 86%;
    transition: 0.5s;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

/* details */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--wiite);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}
.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--wiite);
    border-radius: 6px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    cursor: pointer;
}
.details table thead td {
    font-weight: 600;
}
.details .recentOrders table tr {
    color: var(--black);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
    background: var(--hover-tr);
    color: var(--blackAll);
}
.details .recentOrders table tr td {
    padding: 10px;
}
.details .recentOrders table tr td:last-child {
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}
.status.delivered {
    padding: 2px 4px;
    background: var(--hack);
    color: var(--wiite);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}
.status.pending {
    padding: 2px 4px;
    background: var(--red);
    color: var(--wiite);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}
.status.progress {
    padding: 2px 4px;
    background: var(--auze);
    color: var(--wiite);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}
.status.return {
    padding: 2px 4px;
    background: var(--lite);
    color: var(--wiite);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}
.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--wiite);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr td {
    padding: 12px 10px;
}
.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}
.recentCustomers table tr td span {
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr {
    transition: 0.2s linear;
}
.recentCustomers table tr:hover {
    background: var(--hover-tr);
    color: var(--blackAll);
}

.recentCustomers table tr:hover td span {
    color: var(--blackAll);
}
/* ============================media======================================= */
@media (max-width: 991px) {
    .graphBx {
        grid-template-columns: initial;
    }
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox {
        padding: 7px;
        grid-template-columns: initial;
    }
}
@media (max-width: 768px) {
    .details {
        display: grid;
        grid-template-columns: initial;
    }
    .recentOrders {
        overflow-x: auto;
    }
    .status.progress {
        white-space: nowrap;
    }
}
@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: initial;
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: var(--wiite);
    }
}
